
body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center/cover;
    color: #fff;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
    color: #f1f1f1;
  }
  
  .session-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .session-buttons button {
    background: none;
    border: 1px solid #f1f1f1;
    color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    font-size: 1.125rem;
  }
  
  .session-buttons .active {
    background: #fff;
    color: #333;
  }
  
  #timer-display {
    font-size: 8rem;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .controls button {
    background: none;
    border: none;
    color: #fff;
  
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
    font-size: 1.5rem;
   
  }
 


.controls #start.active {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .controls #start {
    background-color: white;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
  }
  
  .controls button:hover {
    color: #ccc;
  }
  
  
#start {
    background: none;
    border: 1px solid #f1f1f1; 
    color: #f1f1f1;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px; 
    transition: background-color 0.3s, color 0.3s;
  }
  
  
  #start.active {
    background-color: #fff;
    color: #333;
    border-color: #333; 
  }
  